extends partials/header

block content
    // FORM
    .pt-5.px-5
      .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
        h1.h2 Add Product Form
      .card.shadow
        .card-body
          .row
            .col-sm-5
              form
                .form-group
                  label(for='productName') Name
                  input#productName.form-control(type='name' placeholder='Product Name')
                .form-group
                  label(for='productManufacturer') Manufacturer
                  input#productManufacturer.form-control(type='name' placeholder='Brand Name')
                .form-group
                  label(for='productSKU') SKU
                  input#productSKU.form-control(type='name' placeholder='SKU Number')
                .form-group
                  label(for='inputQuantity') Attributes
                  select#inputQuantity.form-control
                    option(selected='') Color...
                    option Black
                    option Blue
                    option Red
                    option Pink
                    option Green
                    option Orange
                .form-group
                  label(for='exampleFormControlDescription') Description
                  textarea#exampleFormControlDescription.form-control(rows='3')
            .col-sm-1
            .col-sm-5
              .avatar-upload
                .avatar-edit
                  input#imageUpload(type='file', accept='.png, .jpg, .jpeg')
                  label(for='imageUpload')
                .avatar-preview
                  #imagePreview(style='background-image: url(/img/logo.png);')
              .form-group.row
                  .form-group.col-sm-6
                    label(for='inputPrice3') Price
                    .input-group.mb-3
                      .input-group-prepend
                        span.input-group-text $
                      input.form-control(type='text' aria-label='Amount (to the nearest dollar)')
                      .input-group-append
                        span.input-group-text .00
                  .form-group.col-sm-6
                    label(for='inputPrice3') Cost
                    .input-group.mb-3
                      .input-group-prepend
                        span.input-group-text $
                      input.form-control(type='text' aria-label='Amount (to the nearest dollar)')
                      .input-group-append
                        span.input-group-text .00
                  .form-group.col-md-4
                    select#inputQuantity.form-control
                      option(selected='') Quantity...
                      option 1
                      option 5
                      option 10
                      option 25
                      option 50
                      option 100
                  .form-group.col-md-8
                    .form-check.mt-2
                      input#gridCheck1.form-check-input(type='checkbox')
                      label.form-check-label(for='gridCheck1')
                        | In Stock
                  .form-group.col-md-12
                    button.btn.btn-primary.btn-lg.btn-block(type='submit') Submit
            .col-sm-1
    script.
      function readURL(input) {
          if (input.files && input.files[0]) {
              var reader = new FileReader();
              reader.onload = function(e) {
                  $('#imagePreview').css('background-image', 'url('+e.target.result +')');
                  $('#imagePreview').hide();
                  $('#imagePreview').fadeIn(650);
              }
              reader.readAsDataURL(input.files[0]);
          }
      }
      $("#imageUpload").change(function() {
          readURL(this);
      });
    include partials/footer
