extends partials/header

block content
  .pt-5.px-5
    .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
      h1.h2 Login Here!
  include partials/footer